.homeContainer {
  width: 60%;
  height: fit-content;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-family: var(--font-family-root);
  color: var(--blue-color-root);
}

.backgroundImage {
  width: 200px;
  height: 200px;
}

@media(min-width:.769px){
  .backgroundImage {
    width: 200px;
    height: 200px;
  }

}