/* @import '/index.css'; */

.headerContainer{
    background-color: var(--header-footer-color-root);
    width: 100%;
    height: 90px;
    padding: 20px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-family: var(--font-family-root);
    text-decoration: none;
    position: relative;
}

.logo{
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.navLinksContainer{
    padding: 6px 30px;
      display: flex;
      gap: 30px;
      list-style-type: none;
}

.navLinksContainer li{
    padding: 10px 0;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.7s ease;
}

.listLinks{
    padding: 6px 30px;
    display: flex;
    gap: 30px;
    list-style-type: none;
}


@media(min-width:769px) {
    
    .headerContainer{
        background-color: var(--header-footer-color-root);
        width: 100%;
        height: 90px;
        padding: 20px 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        font-family: var(--font-family-root);
        text-decoration: none;
        position: relative;
    }
    
    
    
    
    
    
    .listLinks{
        padding: 6px 30px;
        display: flex;
        gap: 30px;
        list-style-type: none;
    }
    
}
